USE [master]
GO
/****** Object:  Database [BookRentalStore]    Script Date: 4/24/2026 10:27:07 PM ******/
CREATE DATABASE [BookRentalStore]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookRentalStore', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookRentalStore.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookRentalStore_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\BookRentalStore_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookRentalStore].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookRentalStore]
GO
/****** Object:  User [tin_nguyen]    Script Date: 4/24/2026 10:27:07 PM ******/
CREATE USER [tin_nguyen] FOR LOGIN [tin_nguyen] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [tin_nguyen]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 4/24/2026 10:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[BookCode] [varchar](20) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Author] [nvarchar](100) NOT NULL,
	[Category] [nvarchar](100) NULL,
	[Publisher] [nvarchar](100) NULL,
	[PublishYear] [int] NULL,
	[BookStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 4/24/2026 10:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerCode] [varchar](20) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalOrderDetails]    Script Date: 4/24/2026 10:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalOrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RentalOrders]    Script Date: 4/24/2026 10:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RentalOrders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[OrderCode] [varchar](20) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[RentDate] [datetime] NOT NULL,
	[ExpectedReturnDate] [datetime] NOT NULL,
	[ReturnDate] [datetime] NULL,
	[OrderStatus] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 4/24/2026 10:27:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[CustomerID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [BookCode], [Title], [Author], [Category], [Publisher], [PublishYear], [BookStatus]) VALUES (1, N'B001', N'Dế Mèn Phiêu Lưu Ký', N'Tô Hoài', N'Thiếu nhi', N'Kim Đồng', 2019, N'Available')
INSERT [dbo].[Books] ([BookID], [BookCode], [Title], [Author], [Category], [Publisher], [PublishYear], [BookStatus]) VALUES (2, N'B002', N'Lão Hạc', N'Nam Cao', N'Văn học', N'Giáo Dục', 2018, N'Available')
INSERT [dbo].[Books] ([BookID], [BookCode], [Title], [Author], [Category], [Publisher], [PublishYear], [BookStatus]) VALUES (3, N'B003', N'Tắt Đèn', N'Ngô Tất Tố', N'Văn học', N'Văn Học', 2020, N'Rented')
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [CustomerCode], [FullName], [Phone], [Address], [Email]) VALUES (1, N'C001', N'Nguyễn Văn A', N'0901111111', N'Hồ Chí Minh', N'a@gmail.com')
INSERT [dbo].[Customers] ([CustomerID], [CustomerCode], [FullName], [Phone], [Address], [Email]) VALUES (2, N'C002', N'Trần Thị B', N'0902222222', N'Hà Nội', N'b@gmail.com')
INSERT [dbo].[Customers] ([CustomerID], [CustomerCode], [FullName], [Phone], [Address], [Email]) VALUES (4, N'C003', N'Le Van C', N'0903333333', N'Da Nang', N'c@gmail.com')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalOrderDetails] ON 

INSERT [dbo].[RentalOrderDetails] ([OrderDetailID], [OrderID], [BookID]) VALUES (1, 1, 3)
SET IDENTITY_INSERT [dbo].[RentalOrderDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[RentalOrders] ON 

INSERT [dbo].[RentalOrders] ([OrderID], [OrderCode], [CustomerID], [RentDate], [ExpectedReturnDate], [ReturnDate], [OrderStatus]) VALUES (1, N'O001', 2, CAST(N'2026-04-09T01:37:15.910' AS DateTime), CAST(N'2026-04-16T01:37:15.910' AS DateTime), NULL, N'Renting')
SET IDENTITY_INSERT [dbo].[RentalOrders] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [CustomerID]) VALUES (3, N'admin', N'123', N'Admin', NULL)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [CustomerID]) VALUES (4, N'customer1', N'123', N'Customer', 1)
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role], [CustomerID]) VALUES (5, N'customer2', N'123', N'Customer', 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__0A5FFCC75F28D5EA]    Script Date: 4/24/2026 10:27:07 PM ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[BookCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Customer__066785210829BDA7]    Script Date: 4/24/2026 10:27:07 PM ******/
ALTER TABLE [dbo].[Customers] ADD UNIQUE NONCLUSTERED 
(
	[CustomerCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__RentalOr__999B5229091CD7BD]    Script Date: 4/24/2026 10:27:07 PM ******/
ALTER TABLE [dbo].[RentalOrders] ADD UNIQUE NONCLUSTERED 
(
	[OrderCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E427B9F9CC]    Script Date: 4/24/2026 10:27:07 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RentalOrders] ADD  DEFAULT (getdate()) FOR [RentDate]
GO
ALTER TABLE [dbo].[RentalOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_RentalOrderDetails_Books] FOREIGN KEY([BookID])
REFERENCES [dbo].[Books] ([BookID])
GO
ALTER TABLE [dbo].[RentalOrderDetails] CHECK CONSTRAINT [FK_RentalOrderDetails_Books]
GO
ALTER TABLE [dbo].[RentalOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_RentalOrderDetails_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[RentalOrders] ([OrderID])
GO
ALTER TABLE [dbo].[RentalOrderDetails] CHECK CONSTRAINT [FK_RentalOrderDetails_Orders]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [FK_RentalOrders_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [FK_RentalOrders_Customers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Customers] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Customers]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD CHECK  (([BookStatus]='Rented' OR [BookStatus]='Available'))
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD CHECK  (([OrderStatus]='Returned' OR [OrderStatus]='Renting'))
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [CK_RentalOrders_ExpectedReturnDate] CHECK  (([ExpectedReturnDate]>=[RentDate]))
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [CK_RentalOrders_ExpectedReturnDate]
GO
ALTER TABLE [dbo].[RentalOrders]  WITH CHECK ADD  CONSTRAINT [CK_RentalOrders_ReturnDate] CHECK  (([ReturnDate] IS NULL OR [ReturnDate]>=[RentDate]))
GO
ALTER TABLE [dbo].[RentalOrders] CHECK CONSTRAINT [CK_RentalOrders_ReturnDate]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD CHECK  (([Role]='Customer' OR [Role]='Admin'))
GO
USE [master]
GO
